<%- include('partials/head.ejs') %>

    <%- include('partials/navbar.ejs') %>
    <h1>The Home Page <%= "hello world".toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut saepe nulla deserunt delectus vero atque facere labore possimus perspiciatis at magnam adipisci quae, libero nostrum reprehenderit quos eius cum molestias!
    Deleniti mollitia ratione similique velit. At quaerat consectetur quas repellat, facere eius pariatur, amet accusamus eaque suscipit animi est vitae aut harum ipsam aperiam aspernatur? Provident hic expedita vel obcaecati.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae animi, minus at aliquam cupiditate beatae hic ullam autem dolorem impedit perferendis eum! Molestias a rem cum nihil odit et praesentium!</p>
<%- include('partials/footer.ejs') %> 